.aboutContainer{
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:70px;
}
.aboutRight{
    align-items: flex-start;
    font-family: Raleway, san-serif;
    min-width: 400px;
}
.aboutHeading{
    font-weight:700;
    font-size:60px;
}
.aboutSubHeading{
    position: relative;
    left:70px;
    font-size:35px;
    font-weight:300;
}
@media screen and (max-width: 600px) {
    .aboutImage {
        display: none;
    }
    .aboutHeading{
        font-weight:700;
        font-size:40px;
    }
    .aboutSubHeading{
        left:0;
        font-size:22px;
    }
}