.landingContainer{
    flex-direction:column;
    width:100%;
    min-height:90vh;
    background-size:cover;
    background-position: right;
}
.landing{
    flex: 1 1 auto;
    text-transform:uppercase;
    align-items:center;
    height:auto;
    justify-content:center;
    color:#ffffff;
    font-family: Raleway, sans-serif;
    font-size:60px;
    font-weight:700;
    width:90vw;
    margin:auto;
}
@media screen and (max-width: 850px) {
    .landing{
        font-size:30px;
    }
  }