@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 0px;
    background: rgba(33, 28, 14, 0.09);
}
::-webkit-scrollbar:hover {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}